.portfolioSection {
  text-align: center;
}

.portfolioSection__spotify__image {
  img {
    width: 14em;
    height: 4em;
    margin-bottom: 1em;
    margin-top: 1em;
  }
}

.portfolioSection__spotify__widget {
  margin: 1em;
}
