$content-flex: 9;
$fontsize-p: 1.2rem;
$fontsize-nav: 1em;
$typing-font: 3rem;
$primary-color: #ffc107;
$primary-color-variant: $primary-color;
$footer: $primary-color;
$link-color: #000000;
$secondary-color: lightseagreen;
$tertiary-color: #bb86fc;
$menu-color: $primary-color;
$quaternary-color: #ffe5b4;
$page-color: #ffffff;
$font-family: 'Roboto';
$link-color-light: lightgray;
